//The Variables
$grid-gutter-width: 1rem; // <- Space between columns/rows
$num-of-columns: 4; // <- let's have some colummns
$grid-rows: repeat(3, 200px); // <- would you like rows with those columns?
$col-width: calc(100%/#{$num-of-columns} - #{$grid-gutter-width}); // yay math for how big the columns get

//Bring it all together -- mixins + loop = Magic
@mixin grid-template-colummns {
    $columns: [col-1],; // <- array/list - variable
    @for $i from 2 through $num-of-columns + 1 {
        $columns: append($columns, $col-width [col-#{$i}], space);
    }
    grid-template-columns: $columns;
}

body {
    display:grid;
    grid-gap: $grid-gutter-width;
    padding: $grid-gutter-width;
    @include grid-template-colummns;
    grid-template-rows: $grid-rows;
}