body {
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  grid-template-columns: [col-1] calc(100%/4 - 1rem) [col-2] calc(100%/4 - 1rem) [col-3] calc(100%/4 - 1rem) [col-4] calc(100%/4 - 1rem) [col-5];
  grid-template-rows: repeat(3, 200px);
}