// cosmetic
body {
  font-family: 'B612', sans-serif;
}

// card style (cosmetic)
.card {
  background-color: #74b3ce;
  color: black;

  width: 400px;
  overflow: hidden;
  padding: 1em;
  border-radius: 1em;
  box-shadow: 5px 5px 20px;
  margin: 2em;
}

// need for bouncing at the end of animation
.bouncer {
  height: 1000px;
  max-height: 10px;
  &.animate {
    animation-name: bounce;
    animation-duration: 0.2s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
  }
  &.rev-animate {
    animation-name: negative-bounce;
    animation-duration: 0.2s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
  }
}

// keyframes for forward bouncing
@keyframes bounce {
  0% {
    max-height: 10px;
  }
  50% {
    max-height: 20px;
  }
  100% {
    max-height: 10px;
  }
}

// keyframes for backward bouncing
@keyframes negative-bounce {
  0% {
    max-height: 10px;
  }
  50% {
    max-height: 0;
  }
  100% {
    max-height: 10px;
  }
}

.short-description, .full-description, .text1, .text2, .actions {
  overflow: hidden; // need for hide hidden data :)
  transition: all .4s linear; // main animation
}

.main-content,.additional-content {
  cursor: pointer;
}

.actions {
  margin-top: 7px;
}

// needed for initial state of expandable items
.collapsable {
  max-height: 0;
  opacity: 0;
}

// only for short description
.hidden {
  display: none;
}

// cosmetic - gradient in circle around the image
.card-image {
  margin: 10px;
  background: -webkit-linear-gradient(left top, crimson 0%, #f90 100%);
  padding: 5px;
  width: 100px;
  height: 100px;
  border-radius: 50%;

  > img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
}

// cosmetic
.collapsable-card-content, .actions {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;

  .btn {
    margin: 0 2em;
  }
}

// need when image and description are displayed in line
.short-description {
  width: 250px;
  margin: 10px;
}

// cosmetic
.btn {
  padding: 0.35em 1.2em;
  border: 0.1em solid black;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.3em;
  box-sizing: border-box;
  font-size: 1.2em;
  font-weight: 400;
  color: black;
  text-align: center;
  cursor: pointer;
}
