<div class="row">
  <div class="col-6">
    <div ngbDropdown class="d-inline-block">
      <button ngbDropdownToggle class = 'btn btn-outline-primary' id="dropdownBasic1">
        {{locationValue.name}}, {{locationValue.countryName}}
      </button>
      <div ngbDropdownMenu>
        <button ngbDropdownItem *ngFor="let location of availableLocations" (click)="onLocationChange(location)">
          {{location.name}}, {{location.countryName}}
        </button>
      </div>
    </div>
  </div>
  <div class="col-6">
    Celsius
    <label class="switch">
      <input type="checkbox" (change)="onTemperatureUnitChange($event)" [checked]="temperatureUnitValue">
      <span class="slider round"></span>
    </label>
    Fahrenheit
  </div>
</div>
