<div class="card border-info">
  <div class="card-title card-header">
    <div class="row">
      <div class="col-9">
        <h3>{{dailyForecast.date | date}}</h3>
      </div>
      <div class="col-3">
        <a [href]="dailyForecast.detailInfoLink" class="card-link">More...</a>
      </div>
    </div>
  </div>

  <div class="card-body">
    <div class="row">
      <div class="col-6">
        <app-day-night-detail [info]="dailyForecast.dayPart"></app-day-night-detail>
      </div>
      <div class="col-6">
        <app-day-night-detail [info]="dailyForecast.nightPart"></app-day-night-detail>
      </div>
    </div>
  </div>

  <div class="card-footer">
    <app-temperature-detail [temperature]="dailyForecast.temperature">
    </app-temperature-detail>
  </div>
</div>
